{% extends 'shop/basic.html' %}
{% block title %} About Us{% endblock %}
{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Cart</h1>
      <p>At MyCart, we redefine online shopping with a seamless, smart, and personalized experience. Whether you're looking for the latest trends, everyday essentials, or exclusive deals, we've got it all in one place.</p>
        <p>🚀 Fast & Secure Shopping – Browse, buy, and get your orders delivered swiftly.<br>
💳 Multiple Payment Options – Choose from secure payment methods for a hassle-free checkout.<br>
🛒 Diverse Categories – From fashion to electronics, groceries to gadgets – MyCart has everything you need.<br>
🔥 Exclusive Deals & Discounts – Save more with our unbeatable offers.<br>

🛍️ <b>Shop Smart. Shop Easy. Shop MyCart!</b></p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Visit Again &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Leadership Principles</h2>
        <p>

We hold ourselves and each other accountable for demonstrating the Leadership Principles through our actions every day.
            Our Leadership Principles describe how Amazon does business, how leaders lead, and how we keep the customer at the center of our decisions.
             </p>

      </div>
      <div class="col-md-4">

        <h2>Culture</h2>
        <p>A great place to work is built on celebrating difference, and we take pride in being a diverse and
          employee-centric organisation which keeps the best interest of all its employees at the heart of all our initiatives
 </p>
      </div>
      <div class="col-md-4">
        <h2>Sustainability</h2>
          <p>Everyone plays a key role in the roadmap to a sustainable future for the planet.
              #Ecommerce is a force for good, and My cart is on a mission to do better --for people,for communities and our world!!.... </p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Company 2025</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
</html>


{% endblock %}